<%inherit file="/homepage/templates/base.htm" />

<%block name="navigation">
<nav class="navbar navbar-inverse">
                <a class="navbar-brand" href="/"><img class="navbar-logo" src="${STATIC_URL}homepage/media/clef_icon.png"></a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Login  &#9662;
                        </a>

                        <ul class="dropdown-menu">
                          <li><a href="#">No Functionality</a></li>
                          <li><a href="#">Still Nothing</a></li>
                          <li><a href="#">Nope</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
</%block>
