#cart_container{
    text-align:center;
}

h1{
    text-align:center;
    padding:25px;
}

table{
    margin-left:auto;
    margin-right:auto;
}

th, td{
    padding-right: 50px;
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    }

th{
    font-size: 12pt;
    text-align: center;
    background-color: #498087;
    color: white;
}

table tr:hover {background-color: #ddd;}

.product_image{
    width:100px;
}
