ul{
list-style-type: none;
text-align:center;
}

h1{
    text-align:center;
}

#product_list{
max-width: 1425px;
}


#paginator{
text-align: right;
margin-right: 200px;
font-size: 15pt;
}

#tiles_container_container{
min-height:800px;
}
