.category_item{
    padding: 8px;
    color: #498087;
    text-align: right;
    font-size: 15pt;
    font-weight: bold;
    }

ul{
list-style-type: none;
text-align:center;
}

h1{
    text-align:center;
}

#product_list{
max-width: 1425px;
}

.active{
color: #99C0C7;
}

#paginator{
text-align: right;
margin-right: 200px;
font-size: 15pt;
}
