.category_item{
    padding: 8px;
    color: #498087;
    text-align: right;
    font-size: 15pt;
    font-weight: bold;
    }

ul{
list-style-type: none;
text-align:center;
}

h1{
    text-align:center;
}

#product_list{
width: 100%;
}
