.center{
    text-align:left;
    padding-top:50px;
    padding-left:500px;
    }

h1{
color: #2E747A;
font-family: Georgia;

}

h2{
color: #777777;
font-family: Georgia;

}

.btn{
margin-left: 50px;
font-size:15pt;
}
