<%inherit file="app_base.htm" />

<%block name="content">
<h1>Shopping Cart</h1>

<div id="cart_container">
    <table>
    % for item in cart:
        <tr>

            <td><img class="product_image" src=${STATIC_URL}${item.img_URL()} /></td>
            <td><a href="/catalog/details/${item.id}">${item.Name}</a></td>
                        % if item.__class__.__name__ == 'BulkProduct':
                <td>${item.Quantity}</td>
            % else:
                <td>1</td>
            % endif
            <td>$${item.Price}</td>
            <td><a href="/manager/delete/${item.id}">Remove</a></td>

        </tr>
    % endfor
    </table>
    <br>
    <b>Total:</b> $200
    <br>

    <a href="/catalog/checkout" class="btn btn-primary">Checkout</a>
</div>
</%block>

