<%inherit file="app_base.htm" />

<%block name="left">
<ul>
    <li class="category_item"><a href="/catalog/index"  class="${'active' if CatName is None else '' }">All</a></li>
% for item in list:
    <li class="category_item"><a href="/catalog/index/${item.id}" class="${'active' if CatName == item.Name else '' }" >${item.Name}</a></li>
% endfor
</ul>
</%block>


<%block name="content">
% if CatName is not None:
    <h1>${CatName}</h1>
% else:
    <h1>All Products</h1>
% endif

<div id = 'paginator'>
    <a id="Pagedn"><span class="glyphicon glyphicon-chevron-left"></span></a>
     Page <span id = "DisplayPageNumber">1</span> of ${MaxPages}
    <a id="Pageup"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>

<div id="tiles_container_container"><div id="tiles_container"></div></div>


</%block>

