<%inherit file="app_base.htm" />

<%block name="left">
<ul>
    <li class="category_item"><a href="/catalog/index">All</a></li>
% for item in list:

    <li class="category_item"><a href="/catalog/index/${item.id}">${item.Name}</a></li>
% endfor
</ul>
</%block>


<%block name="content">
% if CatName is not None:
    <h1>${CatName}</h1>
% else:
    <h1>All Products</h1>
% endif

<div id = 'paginator'>
    <a id="Pagedn"><</a>
     Page <span id = "DisplayPageNumber">1</span> of 00000
    <a id="Pageup">></a>

</div>

<div id="tiles_container"></div>


</%block>

