<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h1>Frequently Asked Questions</h1>

        <h3>Is my rental instrument going to be new?</h3>
        <p>Most of our rental instruments are like new. We strongly recommend renting a previously rented instrument, as
            they are fully shop adjusted to playing condition. This is also a great way for your child to get used to
            handling the instrument before they get a brand new one. Your rental payments do apply toward the purchase
            of a new instrument within the first year, and any instrument of equal or greater value thereafter.
            When you are sure your child will continue with the instrument and you are ready to purchase, please
            contact us at 888-731-5396 for further details.</p>

        <h3>What brand will my rental instrument be?</h3>
        <p>We offer all educator approved, major brand instruments such as Yamaha, Selmer, and Eastman for rental.
            You can be assured that when you rent from us, you will receive a quality instrument that meets the
            requirements of your school's music program.</p>

        <h3>What comes with the instrument rental?</h3>
        <p>All instruments include a protective case. In addition, other maintenance items are included free of charge.
            You can view a list of these items on the Instrument Selection/Pricing page (after clicking "Rentals" from
            the home page and entering your zip code and school information) within the description of each page.</p>
    </div>
</%block>
