<%inherit file="app_base.htm" />

<%block name="top">
    <div class="content">
        <p>top</p>
    </div>
</%block>

<%block name="maintainance">
        <p>This is the maintinance area</p>
</%block>


<%block name="content">
    <div class="content">
        <h3>Center</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a tincidunt dolor. Nulla dictum quam in ex tincidunt lobortis. Proin dui diam, gravida eget vestibulum et, hendrerit at quam. Fusce quam turpis, efficitur non odio a, consectetur rutrum turpis. Vestibulum accumsan varius nisl id dignissim. Donec ullamcorper, dolor in ultrices suscipit, arcu nibh iaculis metus, a aliquam lectus arcu efficitur nulla. Donec aliquam erat justo, quis tempus mauris fermentum in. Morbi a suscipit nisi. Vivamus imperdiet fermentum tellus, ac malesuada enim finibus eget.</p>
    </div>
</%block>

<%block name="left">
    <div class="content">
        <p>left</p>
    </div>
</%block>

<%block name="right">
    <div class="right">
        <p>right</p>
    </div>
</%block>

