<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h1>Terms of Agreement</h1>

        <p>The undersigned ("Client") and Family Oriented Music Organization ("FOMO") agree that FOMO will rent to the Client
            the item(s) described at the stated rental fee. This agreement commences on the initial date of the agreement and
            continues until the instrument is returned. The Client agrees to pay for the entire replacement value of the instrument,
            bow, and case for failing to return the instrument(s) or failing to update automatic payment informatiop within 90 days
            of change. Client understands that this is an open-ended agreement and she/he may terminate this agreement at any time
            upon return of the instrument to FOMO, however, no reimbursements for payments already made will be given. Client agrees
            that they will not transfer the rented items outside the state of Michigan and further agrees that if they do transfer
            the rented items outside the state of Michigan that they will be deemed to have immediately purchased the items and that
            the full replacement value of the items will be immediately due and payable. <br />
            <br />
            Client acknowledges that FOMO retains ownership of the item(s) rented, and the Client agrees to maintain the
            instrument in a reasonable manner for the duration of the agreement. In the event of incidental damage,
            FOMO will conduct all necessary repairs, or an exchange will be made. FOMO will replace broken or false
            strings, brand of strings to be determined by FOMO staff at time of replacement. Costs associated with the
            repair of other incidental damage are covered as part of this agreement. In the event of malicious or
            negligent damage, Client is responsible for all costs associated with repairs or replacement. All repairs
            must be completed by qualified FOMO technicians, repairs made by any other party will be at the expense of
            the Client. In the event the instrument is stolen, a police report will need to be provided to FOMO by the
            Client in order for the Client to receive a replacement instrument, or for the agreement to be terminated.
            Client remains responsible for all payments and fees until the police report is received.</p>
    </div>
</%block>
